@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/* @import '~bootstrap/scss/bootstrap'; */
/* @import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions"; */

:root {
  --bgColor: #fafeff;
  --border: #e4e5e9;
  --textdark: #344054;
  --textprimary: #20294c;
  --textLight: #8d91a3;
  --iconColor: #8d91a3;
  --hoverColor: #e9eaed;
  --purple: #c58fff;
  --success: #66cb9f;
  --successLight: #e0f5ec;
  --danger: #f58787;
  --dangerLight: #fde7e7;
  --warning: #f7936f;
  --warningLight: #fde9e2;
  --blue: #4dc4ff;
  --blueLight: #dbf3ff;
  --pending: #c58fff;
  --pendingLight: #c58fff54;
  --darkSucess: #007656;

  --box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  --modal-backdrop-bg: rgba(52, 64, 84, 0.3);
  --cardBorderRadius: 10px;
  --inputRadius: 2px;
  --btnRadius: 2px;
  --fs14: 14px;
  --fs13: 13px;
  --fs12: 12px;
}
* {
  font-family: "Manrope", sans-serif;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(204, 25, 25, 0);
}

::-webkit-scrollbar-thumb {
  /* // background: #a8aab730; */
  background: #20294c57;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(248, 241, 241, 0);
  border-right: 7px solid rgba(0, 0, 0, 0.01);
}

/* // ----------------------------------For dropdown Customizations------------------------------ */
.dropdown-menu.show {
  box-shadow: var(--box-shadow);
  border-radius: 2px;
}

.dropdownTitle {
  background: transparent !important;
  border: none !important;
  padding: 0% !important;
  color: var(--textLight) !important;
}

.dropdown_with_border {
  background: transparent !important;
  border: 1px solid var(--border) !important;
  width: 100% !important;
  border-radius: 0px !important;
  color: var(--textLight) !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

/* .dropdown-toggle::after {
  border: none !important;
  display: none !important;
} */

.dropdownBorder .dropdown-css.dropdown-menu {
  width: 100% !important;
}

.dropdown-css.dropdown-menu {
  margin-top: 5px !important;
  border: none !important;
  padding: 0px !important;
  font-style: normal;
  font-weight: 700;
  font-size: var(----fs14);
  line-height: 26px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--textprimary) !important;
}

/* // ----------------------------------For dropdown Customizations------------------------------ */
.card-feild {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-bar-card {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  width: 100%;
  height: 200px;
  cursor: pointer;
}
@media only screen and (min-width: 240px) and (max-width: 768px) {
  .side-bar-card {
    height: 100%;
  }
}
.side-bar-card img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
  border-radius: 10px;
}
.side-bar-card:hover {
  border: 4px solid var(--danger);
  box-shadow: var(--box-shadow);
}
.side-bar-card.active {
  border: 4px solid var(--danger);
  box-shadow: var(--box-shadow);
}
.upload-card {
  border: 1px solid var(--border);
  /* box-shadow: var(--box-shadow); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  cursor: pointer;
  width: 500px;
  height: 500px;
}
.image_uploaded {
  position: absolute;
  font-size: 40px;
  left: 0px;
  top: 0px;
  opacity: 0;
}

.upload-card img {
  object-fit: contain;
  object-position: top;
}

/* .loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 45%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

textarea {
  min-height: 88px !important;
  border: 1px solid var(--border) !important;
  background: transparent !important;
  padding-inline-start: 10px;
  width: 100%;
}
textarea:focus-visible {
  outline: none !important;
}
.img-veiwer {
  height: 200px;
  margin-top: 10px;
}
.img-veiwer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-feild {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.img-feild:hover {
  background-color: var(--danger);
  color: var(--bgColor);
  cursor: pointer;
}
.imgveiwerdown {
  height: 400px;
}
.imgveiwerdown img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sidebar-height {
  height: 80vh;
  overflow-y: scroll;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
/* .spannnn {
  width: 250px;
  height: 250px;
  background-image: url("../src/assest/4d.jpeg");
  background-size: cover;
  margin: 10px;
  zoom: 3.9;
}
.spannnn:nth-child(1) {
  background-position-x: 0;
}
.spannnn:nth-child(2) {
  background-position-x: -75px;
}
.spannnn:nth-child(3) {
  background-position-x: -150px;
}
.spannnn:nth-child(4) {
  background-position-x: -255px;
} */

.image-container {
  width: 400px; /* Width of the container */
  height: 400px; /* Height of the container */
  background-image: url("../src/assest/4d.jpeg"); /* URL of your image */
  background-size: 200% 200%; /* Twice the width and height of the container */
}
.image-part {
  width: 50%; /* Width of each part (half of the container) */
  height: 50%; /* Height of each part (half of the container) */
  float: left; /* Float the parts to arrange them in a grid */
  background-position: -100% -100%; /* Position the background to show the correct part */
}

.picture-divider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 900px;
  height: 900px;
}

.grid-item {
  border: 1px solid #000;
  overflow: hidden; /* Ensure images don't overflow */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
}
